.button {
  padding: 0.2em 0.4em;
  font-size: 0.5em;
}

.button.edit, .button.add {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.button.update {
  position: relative;
  right: -100%;
}
