* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resume {
  height: 842px;
  width: 595px;
  background-color: #ffeecc;
  position: relative;
}

.neutral:hover {
  border: solid 3px red;

  > .edit, > .add {
    display: inline;
  }
}
