* {
  box-sizing: border-box;
}

.resume {
  height: 842px;
  width: 595px;
  background-color: #ffeecc;
  position: relative;
}

.primary-neutral:hover {
  border: solid 3px red;

  > .common-buttons-wrapper {
    display: flex;
  }
}

.secondary-neutral:hover {
  border-color: blue;

  > .common-buttons-wrapper {
    display: flex;
  }
}

.tertiary-neutral:hover {
  border-color: green;

  > .common-buttons-wrapper {
    display: flex;
  }
}
