.skill-category-wrapper {
  border: 3px solid transparent;
  position: relative;
}

.skill-category-title-wrapper {
  height: 15px;
  display: flex;
  position: relative;
}

.skill-category-title {
  margin: 0;
}

.skill-category-title, .skill-category-title-input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-align: left;
}

.skill-category-title-input {
  padding: 0;
  border: 0;
  font-weight: 700;
}

.skill-category-list {
  margin: 0;
  padding-left: 20px;
}
