/* The transparent border is there to seamlessly replace it with a red border on hover without displacing text. */
.summary-bar-description {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  width: 100%;
  hyphens: auto;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: solid 3px transparent;
}

.neutral.summary-bar-description:hover {
  .edit {
    display: inline;
  }
}

.summary-bar-description, .description-input {
  font-size: 10px;
}
